@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

    body {
      background: #000000;
     font-family: 'Cormorant Garamond', serif;
      margin-top: 30px;
      text-align: center;
      padding: 0;
    }


a{
    font-weight: 400;
    font-size: 13px;
    color: #BFB5B4;
    text-decoration: none;
    transition: 0.9s;

}

a:hover{
    font-weight: 500;
    color: #FFFFFF;
}

#patas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 40%;
    margin-right: 40%;
}

#ime{
     width: 50%;   
}

#indice{
    width: 50%;
    
}